body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background-color: #000; */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    position: relative; 
    background-color: #121111;
    background-size: cover;
    background-position: center;
    padding: 30px 30px;
    border-radius: 10px;
    text-align: center;
    color: #fff; /* Ensure text is visible on the background */
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
}

.container {
    text-align: center;
    width: 90%;
    max-width: 700px;
    padding: 40px;
    background-color: rgba(59, 59, 59, 0.5);
    border-radius: 10px;
    box-shadow: 0 2px 5px 5px rgba(250, 250, 250, 0.1);
    z-index: 10;
    position: relative;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#city {
    width: 80%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    margin-right: 10px;
}

button {
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.weather-card {
    background-color: #121111;
    background-size: cover;
    background-position: center;
    padding: 30px 30px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}


.weather-card h2 {
    margin: 0;
    font-size: 2.9em;
}

.weather-card p {
    font-size: 1.2em;
}

#type {
    height: 30px;
    width: 180px;
    padding: 10px 5px;
    background-color: #201f1f;
    border-radius: 50px;
    font-size: 22px;
    text-align: center;
    margin: 30px 230px;
}

.weather-card .temperature {
    font-size: 3.9em;
    margin: 10px 0;
}

.weather-card .weather-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    font-weight: 500;
}

.weather-box {
    text-align: center;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    width: 45%;
    margin-bottom: 10px;
}

.weather-box p {
    margin: 5px 0;
}

.weather-image {
    width: 100px;
    height: 100px;
    display: block;
    margin: 20px auto;
}

.weather-icon {
    width: 135px; 
    height: 130px; 
    /* filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(150%) contrast(150%);  */
}

.info-icon {
    width: 40px;
    height: 40px; 
    vertical-align: middle;
    margin-right: 5px;
    filter: invert(100%) sepia(0%) saturate(1000%) hue-rotate(0deg) brightness(100%) contrast(300%);
    /* Adjust these values to make the icon look bolder */
}

